@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color:black;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */



.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: center;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}








#text{
    grid-column: 1/6;
}
.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(26deg, #43c6ac, #191654);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;}
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 96%}
        50%{background-position:100% 5%}
        100%{background-position:0% 96%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 96%}
        50%{background-position:100% 5%}
        100%{background-position:0% 96%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:0% 96%}
        50%{background-position:100% 5%}
        100%{background-position:0% 96%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 96%}
        50%{background-position:100% 5%}
        100%{background-position:0% 96%}
    }
    .hi{
        color: white;
        font-size: 30px;
        text-align: center;
      text-align: justify;
        margin:0;
        padding-top: 230px;
        padding-left: 100px;
    }
    .whatido{
        
        color: white;
        padding-top: 20px;
        font-size: 20px;
        padding-left: 100px;
        text-align: justify;
        padding-bottom: 150px;
    }
    .home a{
        color: white;
        text-decoration: none;
        font-size: 30px;
        
      
    }
    .home a:hover{
        text-decoration: underline;
    }
    #content{
        height:500px;
    font-size: 30px;
    background-color:#f7f8f2;
    margin-top:-40px;
    
    padding-left: 100px;
    }
    #content img{
        height:350px;
        width:450px;
        grid-column: 6;
        margin-top: 80px;
    }
    #content p{
        padding-bottom: 50px;
        
    }
    #content a{
        color:white;
        text-decoration: none;
        border: 1px solid black;
        width: 250px;
        margin-top: 300px;
        font-size: 25px;
        text-align: center;
        background: #191654;
        height:30px;
        padding:20px 20px;
    }
    #leftside{
        grid-column: 1/4;
    }
    #content h4{
        padding-top: 50px;
       
    }
    #services h4{
        font-size: 18px; 
        margin-left: 50px;
        padding-top: 75px;
    }
    #services{
        margin-left:50px;
        font-size: 30px;
    background-color:White;
    color:black;
    margin: 0;
    padding:0;
    margin-top: -25px;
    height:700px;

}
    #responsibility{
        padding-left: 50px;
        font-size: 35px;
        font-weight: 700;
      
        }
        #allservices{
            display: grid;
            gap:15px;
        }
        .item1{
            grid-column: 1/2;
            padding-left: 50px;
        }
        .item2{
            grid-column: 5/6;
            margin-right: 50px;
        }
        .item3{
            grid-column: 1/3;
            padding-left:50px;
        }
        .item4{
            grid-column: 5/6;
            margin-right: 50px;
        }

    .grid{
    display: grid;
    grid-template-columns:repeat(8,1fr);
    text-align: center;
 
    
    }
    
    .par{
      text-align: justify;
     font-size: 23px;
    }

    html{
        box-sizing:border-box;
    }

    
    .title{
        font-size: 30px ;
    }
    #noidea{
        background-color:#43c6ac;
        color: white;
        font-size: 30px;
        height: 550px;
   
    
    
    }
    
    #noidea img{
        width:400px;
        height:470px;
    
    margin-top: 30px;
    margin-left: 100px;
    grid-column: 1/3;
    }
    #noidea a{
    color: white;
   
        
    font-size: 50px;


    }
    #noidea p{
      
        font-size: 28px;
        margin-top: 95px;
    }
    
    

    .itemm2{
        grid-column: 4/8;
    }
    
    #sm ul {
        display: flex;
    margin-left: 275px;
    padding-top:200px;
    
        transform: translate(-50%, -50%);
      }
      
      #sm ul li {
        list-style: none;
      }
      
       #sm ul li a {
        width: 50px;
        height: 50px;
        background-color: #fff;
        text-align: center;
        line-height: 50px;
        font-size: 35px;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;
      }
      
      #sm ul li a .icon {
        position: relative;
        color: #262626;
        transition: .5s;
        z-index: 3;
      }
      
       #sm ul li a:hover .icon {
        color: #fff;
        transform: rotateY(360deg);
      }
      
       #sm ul li a:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        transition: .5s;
        z-index: 2;
      }
      
       #sm ul li a:hover:before {
        top: 0;
      }
      
      #sm ul li:nth-child(1) a:before{
        background: #3b5999;
      }
      
       #sm ul li:nth-child(2) a:before{
        background: #55acee;
      }
      
       #sm ul li:nth-child(3) a:before {
        background: #0077b5;
      }
      
      #sm ul li:nth-child(4) a:before {
     background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      }
      html{
          scroll-behavior: smooth;
      }
      #brands{

        font-size: 30px;
        margin-top: -40px;
    
    background-color:#f7f8f2;
    width: 100%;
    }


    #lastsection{
        padding-top: 50px;
        z-index: 2;
        
    }
    #left{
        background-image: url(images/setup.jpeg);
        grid-column: 1/5;
        background-size:cover;
        height: 500px;
        font-size: 50px;
        color: white;
    }
     #right h1{
        margin-top:220px;
    }
    #right{
        background-image: url(images/insights.jpeg);
        background-size:cover;
        height: 500px;
        font-size: 50px;
        color: white;
        grid-column: 5/9;
    }
    
    #right:hover  , #left:hover {
        -webkit-filter: brightness(70%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;;
    }
    
     a.middle
    {
        position: relative;
        color: #fff;
        text-decoration: none;
     top:230px;     
    }
    
     a.middle:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
    
      bottom: 0;
      left: 0;
      background-color: #FFF;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }
    a.middle:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
     a.middle
    {
        position: relative;
        color: #fff;
        text-decoration: none;
     top:230px;     
    }
    
 


@media only screen and (min-width:411px){
    #left{
        grid-column: 1/9;
    }
    #right{
        grid-row: 2;
        grid-column: 1/9;
    }
    #left,#right{
        height:250px;
    }

    footer p, footer h1{
        margin: 15px;
        
    }

    footer p{
        font-size: 20px;
        width: 90%;
        text-align: center;
    }
    footer h1{
        font-size: 25px;
        margin-top: 130px;
        text-align: center;
    }
    #telephone{
        grid-column: 1/8;
    }
    #email{
        grid-column: 1/8;
    }
    #location{
        grid-column: 1/8;
    }
    #left a, #right a{
        top:100px;
    }
#brands {
font-size: 13px;
}
#brands img{
    grid-column:span 3;

}
#noidea img{
    width:300px;
    height: 400px;
    margin-left:45px;
}
#noidea p{
    font-size: 20px;
}
#noidea{
    height: auto;
}
#content{
    font-size: 15px;

}
#content img{
    height: 200px;
    width: 300px;
  margin-left: -230px;
margin-top: 35px;
}
#leftside{
    grid-row: 2;
    width: 100%;
    grid-column: 1/9;
    margin-left: -40px;
    font-size: 25px;
    margin-top: -100px;
}
#leftside p{
    font-size: 18px;
}
#leftside a{
    padding:10px 15px;
    border-radius:15px;

}

.hi{
    font-size: 18.3px;
    margin-left: -50px;
    width: 100%;
}
.whatido{
    font-size: 13px;
    width: 100%;
    margin-left: -50px;
}
#responsibility{
    font-size: 18px;
}
.item1,.item2,.item3,.item4{
    grid-column: 1/9;
    margin-right: 30px;
  
}
.item4,.item2{
    margin-left:50px;
}
#services p{
    font-size: 18px;
}
#services{
    height: auto;
}
.itemm2{
    grid-row: 2;
    grid-column: span 3;
}
.itemm2 h3{
    font-size:28px;
    margin-left:50px;
    
}
#noidea a{
    left:-230px;
    font-size:15px;
}
#noidea p{
 font-size: 23px;
 margin-left:50px;
}
#brands img{
    width: 100px;
    height: 100px;
    margin-left: 80px;
    margin-bottom: 25px;
}
}
@media only screen and (min-width:1200px){
    .home {
        width: 100%;
        height: 107vh;
        background: linear-gradient(26deg, #43c6ac, #191654);
        background-size: 400% 400%;
        
        -webkit-animation: AnimationName 12s ease infinite;
        -moz-animation: AnimationName 12s ease infinite;
        -o-animation: AnimationName 12s ease infinite;
        animation: AnimationName 12s ease infinite;}
    #allservices{
        display: grid;
        gap:15px;
    }
    .item1{
        grid-column: 1/2;
        padding-left: 50px;
    }
    .item2{
        grid-column: 5/6;
        margin-right: 50px;
    }
    .item3{
        grid-column: 1/3;
        padding-left:50px;
    }
    .item4{
        grid-column: 5/6;
        margin-right: 50px;
    }

    #brands h1{
        padding-top: 70px;
        padding-bottom: 50px;padding-left: 100px;
    }
    #brands img{
        width:130px;
        height:130px;
        padding-left: 100px;
        grid-column: span 2;
        padding-bottom: 80px;
    }
    #noidea img{
        width:400px;
        height:470px;
    
    margin-top: 30px;
    margin-left: 100px;
    grid-column: 1/3;
    }
    .itemm2{
        grid-column: 4/8;
        grid-row: 1;
    }
    #noidea a{
        left: 10px;
    }
    footer{
        background-color:black;
        color: white;
        
     
    height:73vh;
    }
    footer h1{
        font-size: 35px;
        width: 80%;
     
    }
    footer p{
        font-size: 20px;
        width: 70%;
        margin-left: 100px;
        padding-bottom: 100px;
    }
    footer a{
        font-size: 20px;
        color: white;
        
        text-decoration: none;
    }
    footer i{
        font-size: 40px;
      
    }
footer h4{
    font-size: 24px;
   
}
#email{
    grid-column: 1/3;
        
}
#telephone{
    grid-column: 3/5;
}
#location{
    grid-column: 5/7;
}
#left{
    grid-column: 1/5;
    height: 350px;
}
#right{
    grid-column: 5/9;
    grid-row: 1;
    height: 350px;
}
#content img{
    height:350px;
    width:450px;
    grid-column: 6;
    margin-top: 80px;
}
#leftside{
    grid-column: 1/4;
    grid-row: 1;

}
#content h4{
    padding-top: 150px;
   
}
#content p{
    font-size: 45px;
}
#content img{
    grid-column: 7;
    height:350px;
}
#services p{
    font-size: 30px;
}
.hi{
    font-size: 30px;
}
.whatido{
    font-size: 20px;
}
#learn{
    margin-left:-650px;
}
.logo{
    margin-left: 20px;
}
}