@import url("https://fonts.googleapis.com/css?family=Montserrat");
.sidenav{
    height:100%;
    width:0;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color:#f1f1f1
}
.sidenav .closebtn{
    position: absolute;
    top:0;
    right:25px;
    font-size: 36px;
    margin-left: 50px;

}
.main{
    transition: margin-left .5s;
    padding: 16px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    color: goldenrod;
    margin-top:50px;
}
.main:hover{
    color:white;
}
#captain {
width: 500px;
margin: 20px auto;
user-select: none;
overflow-x: hidden;
position: relative;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
font-size: 16px;
}
body {
font-family: "Montserrat", sans-serif;

color: #fff;
}

.header {
background-color: #2d2d37;
text-align: center;
padding: 1.75rem;
}
.header h1 {
font-size: 2.25rem;
}
.date {
background-color: #222;
text-align: right;
font-size: 0.75rem;
padding: 0.75rem 2rem 0.75rem 0;
}
ul.currencies {
height: calc(100vh - 40px - 100px - 40px - 58px);
background-color: #222;
padding: 0 1.5rem 1rem 1.5rem;
overflow-y: auto;
}
ul.currencies li {
background-color: #2d2d37;
border-radius: 5px;
list-style: none;
padding: 1rem 1rem 0.75rem 1rem;
margin-bottom: 1rem;
position: relative;
}
ul.currencies li:last-child {
margin-bottom: 0;
}
ul.currencies li.base-currency {
background-color: #264d73;
}
.flag {
width: 60px;
height: 40px;
border: 1px solid #fff;
vertical-align: top;
}
.info {
display: inline-block;
width: 78%;
}
.info .input span {
font-size: 1.5rem;
display: inline-block;
width: 4rem;
text-align: center;
}
.info .input input {
font-size: 1.5rem;
width: 78%;
background-color: transparent;
border: 2px solid #fff;
border-radius: 5px;
color: #fff;
padding: 0.3rem;
margin-bottom: 0.75rem;
}
.info .currency-name {
font-size: 1rem;
font-weight: bold;
margin-bottom: 0.5rem;
margin-left: 4rem;
}
.info .base-currency-rate {
font-size: 0.8rem;
margin-left: 4rem;
}
ul.currencies li .close {
position: absolute;
top: 0;
right: 0;
padding: 0 0.5rem;
font-size: 1.5rem;
color: #666;
cursor: pointer;
}
ul.currencies li .close:hover {
color: #fff;
}

/* Scrollbar */
ul.currencies::-webkit-scrollbar {
width: 5px;
}
ul.currencies::-webkit-scrollbar-thumb {
background-color: #2d2d37;
border-bottom: 1rem solid #222;
}

ul.add-currency-list {
position: absolute;
bottom: 54px;
left: 105%;
background-color: #f1f1f1;
color: #333;
width: 100%;
height: calc(100vh - 40px - 100px - 55px);
overflow-y: auto;
transition: all 0.25s;
}
ul.add-currency-list li {
list-style: none;
padding: 0.75rem;
border-bottom: 1px solid #ddd;
}
ul.add-currency-list li.disabled {
opacity: 0.7;
cursor: not-allowed;
}
ul.add-currency-list li .flag {
width: 3rem;
height: 2rem;
vertical-align: middle;
}
ul.add-currency-list li span {
margin-left: 1rem;
font-weight: bold;
}

.add-currency-btn {
background-color: #00b386;
color: #fff;
padding: 1rem;
font-size: 1.2rem;
font-weight: bold;
border: none;
border-top: 3px solid #222;
outline: none;
width: 100%;
cursor: pointer;
transition: background-color 0.25s;
position: relative;
}
.add-currency-btn i {
position: absolute;
top: 0.6rem;
left: 30%;
font-size: 2rem;
opacity: 0;
transition: all 0.25s;
}

.add-currency-btn.open {
background-color: #d9534f;
}
.add-currency-btn.open i {
opacity: 1;
left: 1.25rem;
}
.add-currency-btn.open + ul.add-currency-list {
left: 0;
}
.add-currency-btn.open + ul.add-currency-list li:hover {
background-color: #ddd;
}

@media (max-width: 600px) {
html {
font-size: 14px;
}
.container {
width: 100%;
margin: 0 auto;
}
ul.currencies {
height: calc(100vh - 83px - 34px - 51px);
}
.header h1 {
font-size: 2rem;
}
.flag {
width: 3rem;
height: 2rem;
}
.info .input span {
font-size: 1.25rem;
width: 3.5rem;
}
.info .input input {
font-size: 1.25rem;
width: 76%;
}
.info .currency-name {
margin-left: 3.5rem;
}
.info .base-currency-rate {
margin-left: 3.5rem;
}
ul.add-currency-list {
bottom: 48px;
height: calc(100vh - 80px - 51px);
}
.add-currency-btn i {
left: 25%;
top: 0.65rem;
}

}



@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body{
font-family: "Quicksand", sans-serif;
background-color:black;
}   
.home {
width: 100%;
height:100vh;

background-position: center top;
background-size:cover;
}
#navbartop h2{
    margin-left: 30px;
    padding-top: 60px;
}

  p{
      color: white;;
  }
  .nav-pills .nav-link {
background-color: goldenrod;
color: black;
margin-left: 20px;
}
.box{
text-align: center;
background-color:#222;
width: 500px;
height: auto;
text-transform: uppercase;


}  

@media only screen and (min-width:375px){
    .box{
        width:450px;

     
    }

  
}

@media only screen and (min-width:500px){
    .box{
        width:450px;
        margin-left: 20px;
     
    }
}
@media only screen and (min-width:700px){

    .box{
margin-left:150px;
width: 500px;
}}
@media only screen and (min-width:1000px){

    .box{
margin-left:300px;
width: 500px;
}}
@media only screen and (min-width:1200px){

    .box{
margin-left:530px;
width: 500px;
}

}



#weight{
background-color: #264d73;padding-top:50px; padding-bottom:50px; margin-top: 50px; margin-bottom: 50px;
          border-radius:5px; width: 325px ;margin-left:85px ;
}
#weight  input{
background-color:transparent;
color:white;
border:5px solid white;
border-radius:5px;
}
#height input{
background-color:transparent;
color:white;
border:5px solid white;
border-radius:5px;
}
#bodymass{
background-color:#d9534f;
padding-top:50px; padding-bottom:50px; margin-top: 50px; margin-bottom: 50px;
          border-radius:5px; width: 325px ;margin-left:85px ;

}
#bodymass input{
background-color:transparent;
color:white;
border:5px solid white;
border-radius:5px;
margin-left: 20px;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


/* Firefox */
input[type=number] {
-moz-appearance:textfield;
}

#categories{
background-color: darkslategray;
margin-top: 50px;
border-radius:5px;
width:400px;
margin-left: 50px;
}
#categories span{
margin-bottom: 20px;
}
#m{
background-color:darkorange;
padding-top:50px; padding-bottom:50px; margin-top: 50px; margin-bottom: 50px;
        border-radius:5px; width: 325px ;margin-left:85px;
}
#km{
background-color:firebrick;
padding-top:50px; padding-bottom:50px; margin-top: 50px; margin-bottom: 50px;
        border-radius:5px; width: 325px ;margin-left:85px
}
#mi{
background-color:indigo;
padding-top:50px; padding-bottom:50px; margin-top: 50px; 
        border-radius:5px; width: 325px ;margin-left:85px 
}
.inputbox{
background-color:transparent;
        color:white;
        border:5px solid white;
        border-radius:5px;
}
#f{
background-color:orange;
padding-top:50px; padding-bottom:50px; margin-top: 50px; 
        border-radius:5px; width: 325px ;margin-left:85px 
}
#k{
background-color:maroon;
padding-top:50px; padding-bottom:50px; margin-top: 50px; 
        border-radius:5px; width: 325px ;margin-left:85px 
}
.home{
    background-image: url("unnamed.jpg");
}
#nav {
    width: 100%;
    height: 65px;
  
    line-height: 55px;
    text-align: center;
}

#nav div.logo {
    float: left;
    width: auto;
    height: auto;
   
}

#nav div.logo a {
    text-decoration: none;
    color:goldenrod;
    font-size: 2.5rem;
}

#nav div.logo a:hover {
    color: white;
}

#nav div.main_list {
    height: 65px;
    float: right;
}

#nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 1.5rem;
}

#nav div.main_list ul li a {
    text-decoration: none;
    color: goldenrod;
    line-height: 65px;
    font-size: 2rem;
}

#nav div.main_list ul li a:hover {
    color: white;
}


